<div class="container">
  <mat-form-field>
    <mat-label>Dropdown Test</mat-label>
    <mat-select
      (openedChange)="openedChanged($event)"
      [formControl]="selectControl"
      [placeholder]="placeholder"
    >
      <mat-option>
        <ngx-mat-select-search
          [clearSearchInput]="true"
          [formControl]="filterControl"
          [placeholderLabel]="placeholder"
          noEntriesFoundLabel="No entries found"
        >
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
        </ngx-mat-select-search>
      </mat-option>
      <mat-divider></mat-divider>
      <cdk-virtual-scroll-viewport
        [itemSize]="20"
        [style.height.px]="5 * 40"
      >
        <mat-option>-- {{placeholder}} --</mat-option>
        <ng-container *cdkVirtualFor="let option of filteredSearch | async">
          <mat-option
            [value]="option.value"
          >
            {{option.label}}
          </mat-option>
        </ng-container>
      </cdk-virtual-scroll-viewport>
    </mat-select>
  </mat-form-field>
</div>
